:3000

log {
    level DEBUG
    output stdout
}

route {
    encode gzip
    mercure {
        publisher_jwt nqmSP3evC3zb1Iw/F1BdtdP0g08yHUfx1ms1FjNf0rc=
        subscriber_jwt nqmSP3evC3zb1Iw/F1BdtdP0g08yHUfx1ms1FjNf0rc=
		cors_origins *
		publish_origins *
		demo
		anonymous
		subscriptions
    }
}
